<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Título</th>
      <th scope="col">Precio</th>
      <th scope="col">Imágen</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
      <tr>
        <th scope="row">{{this.id}}</th>
        <td>{{this.title}}</td>
        <td>{{this.price}}</td>
        <td>
          <img src={{this.thumbnail}} alt="Imagen de producto" width="50" />
        </td>
      </tr>
    {{/each}}

  </tbody>
</table>