    <form id="form" class="container">
        <div class="mb-3">
          <label for="Title" class="form-label">Título</label>
          <input 
            type="Title"
            class="form-control"
            id="title"
            aria-describedby="Title"
            name="title"
            required="true"
          />
          <div class="mb-3">
          <label for="Price" class="form-label">Precio</label>
          <input type="Price" class="form-control" id="price" name="price" required="true" />
        </div>
        <div class="mb-3">
          <label for="Imagge" class="form-label">Imagen</label>
          <input type="Imagge" class="form-control" id="thumbnail" name="thumbnail" required="true" />
        </div>  
        <button type="submit" class="btn btn-primary">Agregar producto</button>
      </form>
      <div id="productsContainer">
